/* image sources:
https://inspirationfeed.com/aesthetic-note-taking/
https://www.jetpens.com/Tombow-Mono-Smart-Eraser/pd/23552
https://bingostationery.com/products/muji-style-gel-pens-set-of-12
https://minihug.online/products/kuru-toga-automatic-lead-rotation-mechanical-pencil?variant=37350618693790
https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Fstaedtler.northamerica%2Fphotos%2Fcheck-out-our-new-double-ended-fiber-tip-markers-jissaletters-made-swatches-usin%2F1221966024615117%2F&psig=AOvVaw1TFqYVvkFArO-WfgTtBRwj&ust=1635217857442000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCPCvk67L5PMCFQAAAAAdAAAAABAb
https://www.google.com/url?sa=i&url=https%3A%2F%2Femmastudies.com%2Fpost%2F142784112250%2Fnotes-with-staedtler-triplus-fineliners-and-an-arc&psig=AOvVaw1TFqYVvkFArO-WfgTtBRwj&ust=1635217857442000&source=images&cd=vfe&ved=0CAwQjhxqFwoTCPCvk67L5PMCFQAAAAAdAAAAABAT
https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.doodlecraftblog.com%2F2018%2F11%2Ftombow-dual-brush-pens-12-new-colors-in.html&psig=AOvVaw0B3ssX4806lBgTua4-MVEM&ust=1635217710577000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCJCG3P_L5PMCFQAAAAAdAAAAABAD
*/

/* small screens */
@media only screen and (max-width: 640px) { 
    body {
        font-family: Gill Sans;
        background-color: rgb(217, 240, 255);
        text-align: center;
        color:  rgb(58, 38, 18);
        font-size: 90%;
    }
    h1{
        margin-left:auto;
        margin-right:auto;
        float: center;
    }

    div.carousel-caption {
        background-color: rgba(255, 255, 255, 0.352) !important;
        /* opacity: 0.3; */
        width: 30%;
        height: 30%;
        margin-right: auto;
        margin-left: auto;
    }
    
    div.card{
        float: center;
        width: 18rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;

    }
    div.card img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        /* width: 18rem; */
    }
    div.carousel-item img{
        width: 30%;
        height:30%;
        margin: auto;
    }

    div.con{
        background-color: rgb(163, 214, 249);
        padding-top: 3%;
        padding-bottom: 3%;
    }
    div.header{
        background-color: rgb(141, 210, 255);
        padding: 1%;
        margin-bottom: 2em;
    }

    div.intro h3{
        /* margin-bottom: 2rem; */
        padding-bottom: 6rem;
    }

    div.mainCards{
        margin-bottom: 10%;
    }
    div.mb-3{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        /* float: right; */
    }
    div.row {
        margin: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    div#gallery{
        margin-bottom: 20%;
        background-color: rgb(163, 214, 249);
        padding-top: 3%;
        padding-bottom: 3%;

    }


    
    div#sign-in{
        margin-top: -5.5em;
    }
   


    div#menu-mob{
        /* float:left; */
        position: absolute;
        overflow: visible;
        /* display:none; */
    }
    div#menu-larger{
        display:none;
    }
    img#social{
        width: 2em;
        height: 2em;
    }
} 

/* Medium screens */
@media only screen and (min-width: 641px) and (max-width:1024px){ 
    body {
        font-family: Gill Sans;
        /* background-color: rgb(255, 226, 217); */
        background-color: rgb(217, 240, 255);
        text-align: center;
        color:  rgb(58, 38, 18);
        font-size: 90%;
    }
    h1{
        margin-left:auto;
        margin-right:auto;
        float: center;
    }

    div.carousel-caption {
        background-color: rgba(255, 255, 255, 0.352) !important;
        /* opacity: 0.3; */
        width: 30%;
        height: 30%;
        margin-right: auto;
        margin-left: auto;
    }
    
    div.card{
        float: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5%;
        width: 18rem;
    }
    div.card img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    div.carousel-indicators{
        padding-top: 100%;
    }

    div.carousel-item img{
        width: 30%;
        height:30%;
        margin: auto;
    }

    div.col-md-6{
        margin-top: 5%;
    }
    
    div.col-lg-4{
        margin-top: 5%;
    }

    div.con{
        background-color: rgb(163, 214, 249);
        padding-top: 3%;
        padding-bottom: 3%;
    }
    div.header{
        background-color: rgb(141, 210, 255);
        padding: 1%;
        margin-bottom: 2em;
    }

    div.intro h3{
        /* margin-bottom: 2rem; */
        padding-bottom: 4rem;
    }

    div.mainCards{
        margin-bottom: 10%;
    }
    div.mb-3{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        /* float: right; */
    }
    div.row {
        margin: 10%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    div#gallery{
        margin-bottom: 6em;
        background-color: rgb(163, 214, 249);
        padding-top: 3%;
        padding-bottom: 3%;
    }
    div#menu-mob{
        float:left;
        display:none;
    }
    div#sign-in{
        margin-top: -5.5em;
    }
    div#sign-in h3{
        margin-bottom: -1em;
    }
    img#social{
        width: 2em;
        height: 2em;
    }

  

} 

/* Large screens */
@media only screen and (min-width: 1025px) {
    body {
        font-family: Gill Sans;
        background-color: rgb(217, 240, 255);
        text-align: center;
        color:  rgb(58, 38, 18);
        font-size: 90%;
    }
    h1{
        margin-left:auto;
        margin-right:auto;
        float: center;
    }

    div#gallery h3 {
        margin-bottom: 2em;
    }

    div.carousel-caption {
        background-color: rgba(255, 255, 255, 0.352) !important;
        /* opacity: 0.3; */
        width: 30%;
        height: 30%;
        margin-right: auto;
        margin-left: auto;
    }
    
    div.card{
        float: center;
        margin-left: auto;
        margin-right: auto;
        /* margin-top: 10%; */
        width: 18rem;
    }
    div.card img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    div.carousel-item img{
        width: 30%;
        height:30%;
        margin: auto;
    }

    div.col-md-6{
        margin-top: 5%;
    }
    
    div.col-lg-4{
        margin-top: 5%;
    }

    div.con{
        background-color: rgb(163, 214, 249);
        padding-top: 3%;
        padding-bottom: 3%;
    }
    div.header{
        background-color: rgb(141, 210, 255);
        padding: 1%;
        margin-bottom: 2em;
    }

    div.mainCards{
        margin-bottom: 10%;
    }
    div.mb-3{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        /* float: right; */
    }
    div.row {
        margin: 10%;
        margin-top: 5%;
        /* margin-bottom: 5%; */
    }

    div#gallery{
        margin-bottom: 10%;
        background-color: rgb(163, 214, 249);
        padding-top: 3%;
        padding-bottom: 3%;
    }
    div#menu-mob{
        float:left;
        display:none;
    }
    div#sign-in{
        margin-top: -5.5em;
    }
    img#social{
        width: 2em;
        height: 2em;
    }

    
}


div.intro h3{
    margin-top: 5rem;
    margin-bottom: -5rem;

}
#social{
    float: center;
    border: none;
    width: 3%;
    height: 3%;
}
/* Link Management */
a:link{
    color: rgb(83, 52, 27);}
a:visited{
    color: rgb(150, 94, 48);}
a:hover{
    color: rgb(255, 154, 151);}
a {
    text-decoration: none;}

a.btn, button.btn {
    color: white;
    background-color: rgb(112, 181, 255);
    border-color: rgb(112, 181, 255);
    
}

