/* small screens */
@media only screen and (max-width: 640px) { 
    body {
        font-family: Monaco;
        background-color: Beige;
        text-align: center;
        color:  rgb(58, 38, 18);
        font-size: 90%;
    }
   
    img{
        border: 5px solid rgb(96, 63, 29);
        width: 40%;
        height: 40%;
        margin-bottom:5%;
    }

    div.sec1 img{
        width: 100%;
        height: 100%;
        border: none;
    }
    div.sec1 p{
        clear: both;
        padding-top: auto;
        padding-bottom: 12%;
    }

    div.menu{
        display: none;
    }
    div.small-menu {
        width:5;
        height:5%;
        float: right;
        margin-right: 11%;
    }
    div.small-menu img{
        width:1.5em;
        height:1.5em;
        position: fixed;
        border: 2px solid rgb(96, 63, 29);;
    
    }
    div.brand-header {
        background-color: rgba(175, 148, 72, 0.363);
        font-size: 1em;
        padding-bottom:1.5em;
    }

    div.brand-header img{
        width:50px;
        height: 50px;
        margin-bottom: -5%;
        border: none;
        display: inline-block;
    }
    div.brand-header h2{
        display: inline-block;
    }

} 

/* Medium screens */
@media only screen and (min-width: 641px) and (max-width:1024px){ 
    body {
        font-family: Monaco;
        background-color: Beige;
        text-align: center;
        color:  rgb(58, 38, 18);
    }
 
    img{
        border: 5px solid rgb(96, 63, 29);
        width: 100%;
        height: 100%;
        margin:5%;
    }

    figure{
        width:30%;
        height:30%;
        display:inline-block;
        margin: 5%;
        text-align: center;
        padding: 0;
    }
    figcaption{
        padding: 1em;
        margin: auto;
        font-family: Bradley Hand;
        font-size: 1.5em;

    }
   
    div.sec1 img{
        clear: both;
        width: 50%;
        height: 40%;
        border: none;
    }
    div.sec1 p{
        vertical-align: middle;
        margin-bottom: auto;
        padding-bottom: 12%;
    }

    div.brand-header {
        background-color: rgba(175, 148, 72, 0.363);
        padding: 0.5em;
        font-size: 1em;
        text-align: left;
        clear: right;
        padding-bottom:1.5em;
    }
    
    div.brand-header img{
        width:50px;
        height: 50px;
        float: left;
        border: none;
        margin: auto;
        padding: 1em;
    }
    div.brand-header h2{
        padding-top: 1.5%;
    }
    
    div.small-menu {
        display: none;
    }

} 

/* Large screens */
@media only screen and (min-width: 1025px) { 
    body {
        font-family: Monaco;
        background-color: Beige;
        text-align: center;
        color:  rgb(58, 38, 18);
        font-size: 110%;
    }
    img{
        border: 5px solid rgb(96, 63, 29);
        width: 40%;
        height: 40%;
        margin:2%;
        
    }

    figure{
        width:20%;
        height:20%;
        display:inline-block;
        margin: 3%;
        text-align: center;
        padding: 0;
    }

    figcaption{
        padding: 1em;
        margin: auto;
        font-family: Bradley Hand;
        font-size: 1.2em;
    }

    div.sec1{
        align-items: center;
        display: flex;
        margin-bottom: 5%;
    }
    div.sec1 img{
        float: left;
        clear: right;
        margin-left: 13%;
        margin-right: 5%;
        border: none;
    }
    div.sec1 p{
        float: left;
        clear: right;
        width: 50%;
    }

    div.sec2{
        font-size: 1.25em;
    }
    div.sec2 img{
        width: 100%;
        height: 100%;
    }

    div.brand-header {
        background-color: rgba(175, 148, 72, 0.363);
        padding: 0.5em;
        font-size: 1em;
        text-align: left;
        clear: right;
        padding-bottom:1.5em;
    }
    
    div.brand-header img{
        width:50px;
        height: 50px;
        float: left;
        border: none;
        vertical-align: middle;
        position: relative;
    }    
    div.brand-header h2{
        padding-top: 1.5%;
    }
    div.small-menu {
        display: none;
    }


} 

/******* General SCSS Styling *******/
h1{
    text-align: center;
    margin-bottom: 5%;
}

div a{
    padding: 2em;
}

div.con {
    background-color: rgba(175, 148, 72, 0.363);
    padding: 2%;
}

div.menu{
    background-color: rgba(135, 113, 54, 0.363);
    padding-top: 2%;
    padding-bottom: 2%;
    margin: auto;
}

div.sec2{
    border-top: 3px solid black;
    clear:both;
    padding-top: 2%;

}

#social{
    float: center;
    border: none;
    width: 3%;
    height: 3%;
}

/* Link Management */
a:link{
    color: rgb(83, 52, 27);}
a:visited{
    color: rgb(150, 94, 48);}
a:hover{
    color: rgb(255, 154, 151);}
a {
    text-decoration: none;}